<!DOCTYPE html>
<html lang="en">
  <script src="index.js" defer></script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- This link is for the Footer icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .spacer {   /* This is to put the linkedin and github logos on the right */
            flex: 1;
        }

        .ImageColumn,
        .HColumn {
            flex: 1 1 40%;
            padding: 20px;
            box-sizing: border-box;
        }

        .HomeImage {
            width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            .ImageColumn,
            .HColumn {
                flex: 1 1 100%;
            }
        }
    </style>
</head>
<body>
    <div id="container">
        <div class="content">
          <div class="HomeBG">
            <div class="ImageColumn">
              <!-- <img class="HomeImage" src="../assets/images/MEAGAIN.jpeg" alt="Image of Mack Rubidge"> -->
            </div>
            <div class="HColumn">
              <h1 style="color: rgb(255, 255, 255); margin-bottom: 10px; font-size: 40px;">Hi, I'm Mack Rubidge.</h1>
              <p style="color: rgb(255, 255, 255); padding-right: 20%; font-size: 20px;">
                This is my website where I plan on posting my work and hopefully learn more in doing so.
                <br>For more information about me, please visit the Resume page. <br>To see my work, you can go to the About page.
              </p>
            </div>
          </div>
          <div class="HomeCleanBackground">
            <button (click)="openDialog()">Open Dialog</button>

            <div *ngIf="dialogVisible" class="custom-dialog">
              <p>This is a dialog box.</p>
              <button (click)="closeDialog()">Close</button>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="spacer"></div>
          <a href="https://www.linkedin.com/in/mack-rubidge-a09948229/" style="--clr:#fff;"><i class="fa-brands fa-linkedin" style="color: black;"></i></a>
          <a href="https://github.com/skitsadventures" style="--clr:#fff;"><i class="fa-brands fa-github" style="color: black;"></i></a>
          <a href="mailto:mackrubidge@gmail.com" style="--clr:#fff;"><i class="fa-solid fa-paper-plane" style="color: black;"></i></a>
          <a href="#" style="--clr:#fff;"><i class="fa-brands fa-google" style="color: black;"></i></a> 
        </div>
      </div>
    </body>
    </html>