<div class="box-shadow">
<div class="RBody">
  
  <div class="PLColumn">
    <img src="../assets/images/me.jpeg" class="PLImage">

    <!-- This Div is to show whats under my profile image inside the grey column-->
    <div class="PGreyHeading">
      <h2 class="PHeading">Qualifications</h2>
      <ul style="padding-left: 10%;">
        <li>Grade 12, 2020</li>
        <li>SAQA NQF 4,5, (6 Pending)</li>
      </ul>
        <h2 class="PHeading">Areas of Skill</h2>
        <ul class="UL"> 
          <li>Web Developement</li>
          <li>GitHub</li>
          <li>Games Developement</li>
          <li>Software Development</li>
          <li>Unity, C#</li>
        </ul>
        <h2 class="PHeading">Hobbies</h2>
        <ul class="UL">
          <li>Sports and Gym Fitness</li>
          <li>Planting and outdoors</li>
          <li>Graphic Design (Art)</li>
        </ul>
        <h2 class="PHeading">Nationality</h2>
        <ul class="UL">
          <li>South African</li>
        </ul>
        <h2 class="PHeading">Languages</h2>
        <ul class="UL">
          <li>English</li>
          <li>Afriaans</li>
        </ul>
        <h2 class="PHeading">Date of Birth</h2>
        <ul class="UL">
          <li>03 January 2002</li>
        </ul>
      </div>
      
    </div>

  <!-- This is for the information on the right of the grey column-->
  <div class="PInfo">
    <h2 class="PHeading">PROFILE AND CAREER OBJECTIVES</h2>
    <div class="PContent">
      <p>I am a hardworking and motivated person who enjoys working with people. I am honest and committed to tasks assigned to me and always strive to do my best. Punctuality is very important to me. I love learning new skills and sharing my knowledge.</p>
      <p>My top priority is to learn new skills and gain as much experience as possible. I am eager to broaden my knowledge and make a positive difference wherever I work.</p>
      <hr>
    </div>
    <h2 class="PHeading">EDUCATION</h2>
    <div class="PContent">
      <p class="PHeading">Union High School (Graaff-Reinet)</p>
      <p>My achievements were:</p>
      <ul>
        <li>National Senior Certificate (Grade12)</li>
      </ul>
      <p class="PHeading">CTU Training Solutions (Stellenbosch) 2021-2023</p>
      <p><b>2021:  FET Certificate SAQA 78965: Systems Development Foundation: NQF 4 </b></p>
      <p>Modules Completed:</p>
      <ul>
        <li>Basic Programming</li>
        <li>Computer Architecture</li>
        <li>Cloud Fundamentals</li>
        <li>Core Web Development</li>
        <li>Cybernetics</li>
        <li>Digital Literacy and Proficiency</li>
        <li>Network Architecture</li>
        <li>Programmer Ethics</li>
        <li>Robotic Development</li>
        <li>Principles of Program Design</li>
      </ul>
      <p><b>2022: National Certificate SAQA 48872 IT Systems Development: NQF 5</b></p>
      <p>Completed:</p>
      <ul>    
        <li>Beginner Java</li>
        <li>Programming with C#</li>
        <li>Solutions Development</li>
      </ul>
      <p>Specialization Track: Games Development:</p>
      <ul>
        <li>Game Digital Art and Animation</li>
        <li>Game Design Platform</li>
        <li> Game Design Theory and Story Telling</li>
      </ul>
      <p><b>2023: National Certificate SAQA 71850 IT Database Development: NQF 6 (Pending)</b></p>
      <p>Modules Completed:</p>
      <ul>
        <li>IT Project Management</li>
        <li>Data Solution Development</li>
        <li>Advanced Design Patterns</li>
      </ul>
      <p>Specialization Track: Advanced Games Development:</p>
      <ul>
        <li>Advanced Mobile App Development</li>
        <li>Game Environment Design</li>
        <li>Advanced Game Modeling</li>
        <li>Game Scripting</li>
      </ul>
    </div>
  </div>
</div>
</div>

<!-- This is for the Internship section -->

<div class="PInternship" >
  <div>
    <div>
      <h2 class="PHeading">International Certifications:</h2>
      <ul>
        <li>DP900 Microsoft AZURE Data Fundamentals</li>
        <li>AZ 204 Developer Solutions for Microsoft AZURE (Developer Associate)</li>
        <li>DP 300 Administering Relational Databases on Microsoft Azure (Associate) (Pending)</li>
        <li>Unity Game Developer (Pending)</li>
      </ul>
    </div>
  </div>
  <div>
    <div><h2 class="PHeading">INTERNSHIP</h2></div>
  </div>
  <div>
    <p>I worked as an intern for an independent contractor who made use of the Metaverse Systems.
      <br>(lourenslinde&#64;gmail.com)
      <br>(04 July 2022 – 15 July 2022)
    </p>
    <p>Part of my year 2022 curriculum was to intern with an IT company. During my two-week internship I covered the following:</p>
    <ul>
      <li>Python</li>
      <li>Java | NetBeans</li>
      <li>HTML | CSS</li>
      <li>JavaScript</li>
      <li>C# | .NET</li>
      <li>Microsoft Azure</li>
      <li>Microsoft SQL | MySQL</li>
    </ul>

    <p class="PHeading">My School Career Achievements were:</p>
    <ul>
      <li>School Prefect (2020)</li>
      <li>Top 8 Provincial Gala (2014 – 2019)</li>
      <li>Provincial Biathlon (2017)</li>
      <li>Provincial Shotput (2020)</li>
      <li>School Full Colors for Swimming (2019, 2020)</li>
      <li>School Half Colors for Rugby (2019)</li>
      <li>Senior Victor Ludorum Trophy (2019)</li>
      <li>Spar River Mile – Completed in 17min (2020)</li>
    </ul>
    <p class="PHeading">Extra Mural Jobs:</p>
    <ul><li>As an extra on various movie and advertising sets.</li></ul>
    <p class="PHeading">ANNEXURES:</p>
    <ol>
      <li>Academic Transcripts</li>
    </ol>
  </div>
</div>